
.options{
    background: rgba(0, 0, 255, 0.1);
    object-fit: cover;
    padding: 12px;
}
.display{
    padding: 12px;
}
@media only screen and (min-width: 565px) and (max-width: 770px){
    .main h2{
        font-size: 38px;
    }
    .intro h1{
        font-size: 38px;
        text-align: left;
        margin-left: 60px; 
    }
}
@media only screen and (min-width: 429px) and (max-width: 565px){
    .main h2{
        font-size: 28px;
    }
    .intro h1{
        font-size: 28px;
        text-align: left;
        margin-left: 60px; 
    }
}
@media only screen and (max-width: 429px){
    .main h2{
        font-size: 20px;
    }
    .intro h1{
        font-size: 20px;
        text-align: left;
        margin-left: 50px; 
    }
}